.dice-background {
  background-color: gray;
  margin-top: 10px;
}

.dice-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.die-value {
  width: 30px;
  height: 30px;
}
