.dice-background {
  background-color: gray;
  margin-top: 10px;
}

.dice-controls {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.dice-count {
  flex: 0 1 20%;
  min-width: 0px;
}

.roll-dice-button {
  flex: 0 1 50%;
}

.dice-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.die-value {
  width: 30px;
  height: 30px;
}
