.inventoryContents {
  display: flex;
  flex-direction: row;
  margin: 20px 10px 0px;
  overflow-x: auto;
}

.inventoryCard {
  flex: none;
  width: 100px;
  margin: 0px 5px;
  border: 2px solid black;
  text-align: center;
}

.inventoryCard.EVENT {
  background-color: #edd281;
}

.inventoryCard.ITEM {
  background-color: #bc7043;
}

.inventoryCard.OMEN {
  background-color: #a5c96c;
}
