.inventoryContents {
  display: flex;
  flex-direction: row;
  margin: 20px 10px 0px;
  overflow-x: auto;
}

.inventoryCard {
  flex: none;
  width: 100px;
  margin: 0px 5px;
  border: 2px solid black;

  display: grid;
  grid-template: auto;
}

.inventoryCard > * {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  place-self: center;
}

.inventoryCard.EVENT {
  background-color: #edd281;
}

.inventoryCard.ITEM {
  background-color: #bc7043;
}

.inventoryCard.OMEN {
  background-color: #a5c96c;
}

.traitValue {
  padding: 5px;
  border: 0;
}

.traitValue:hover {
  background-color: lightgray;
}

.traitValue.active {
  font-weight: bold;
  color: red;
}

.traitValue.starting {
  background-color: lightblue;
}

.traitValue.starting:hover {
  background-color: lightgray;
}
